@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: hsl(0, 0%, 98%);
    --secondary-foreground: hsl(0, 0%, 100%);
    --popover-foreground: hsl(222, 13%, 17%);
    --primary-foreground: hsl(0, 0%, 100%);
    --accent-foreground: hsl(0, 0%, 100%);
    --muted-foreground: hsl(222, 13%, 35%);
    --card-foreground: hsl(222, 13%, 17%);
    --destructive: hsl(0, 84%, 60%);
    --background: hsl(0, 0%, 98%);
    --foreground: hsl(222, 13%, 17%);
    --secondary: hsl(222, 25%, 53%);
    --popover: hsl(0, 0%, 100%);
    --primary: hsl(222, 47%, 53%);
    --border: hsl(222, 13%, 85%);
    --accent: hsl(190, 16%, 55%);
    --muted: hsl(0, 0%, 93%);
    --input: hsl(204, 38%, 97%);
    --card: hsl(0, 0%, 100%);
    --ring: hsl(222, 47%, 53%);
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
